/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/list.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.list_font__BDLd0{
    color:red;
    font-size: 36px;
    margin-right: 10px;
}
.list_ListWrapper__gb5mg{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 500px;
}
